@import "../../assets/styles/colors";

:host {
    height: 100%;
}

.header {
    height: 64px;
    background-color: $boxBackground;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    align-items: center;
}

.header-logo {
    padding-left: 20px;
    padding-right: 12px;

    & > img {
        height: 32px;
    }
}

.header-title {
    margin-left: 8px;
}

.app-container {
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    width: calc(100% - 16px);
    height: calc(100% - 80px);
    margin: 8px;
    background: $siteBackground;
    overflow: hidden;
}

.app-menu {
    display: flex;
    flex-flow: column nowrap;
    background-color: $menuBackground;
    width: 64px;
}

.app-content {
    display: flex;
    flex-flow: row nowrap;
    background-color: $boxBackground;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
