
// Site
$siteBackground: #dde3ed;
$boxBackground: #ffffff;
$menuBackground: #262e36;

// Status
$developing: rgb(110, 162, 177); /* 055ed2*/
$testing: rgb(238, 118, 73); /* ffbf3e */
$approved: rgb(124, 186, 96); /* bf2235 */
$released: rgb(210, 190, 92); /* 3c8b2e */

// Gray scales
$GS-120: #07090D;
$GS-115: #161D22;
$GS-110: #1A2329;
$GS-105: #262E36;
$GS-100: #353D45;
$GS-90: #555E6B;
$GS-95: #404952;
$GS-85: #626C7A;
$GS-80: #828D9E;
$GS-70: #A5B1C2;
$GS-60: #C1CBD9;
$GS-50: #D1D9E5;
$GS-40: #DDE3ED;
$GS-30: #EDF2F7;
$GS-20: #F5F7FA;
$GS-10: #FFFFFF;